{% extends 'base.html.twig' %}

{% block title %}Kyrii — L’univers manga à portée de main{% endblock %}

{% block body %}
<main>
<section>
    <h1 class="text-2xl text-center mt-10">Kyrii — L’univers manga à portée de main</h1>
    <h2 class="text-xl text-center mt-10">Plonge dans l’univers du manga</h2>

</section>

<section class="flex justify-center px-4 mt-8">
    <div class="w-full max-w-3xl">
        <h2 class="text-2xl font-bold mb-6 text-center">Notre catalogue</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 justify-items-center">
            {% for manga in mangas %}
                <div class="bg-white rounded shadow hover:shadow-xl transition w-50 max-w-xs overflow-hidden">
                    <div class="h-64 w-full overflow-hidden">
                        <img src="{{ manga.image }}" alt="{{ manga.title }}" class="w-full h-full object-cover transform hover:scale-105 transition">
                    </div>
                    <div class="p-4">
                        <h3 class="text-lg font-semibold mb-1">{{ manga.title }}</h3>
                        <p class="text-sm text-gray-500 mb-1">{{ manga.author }}</p>
                        <p class="text-sm text-gray-500 font-medium">{{ manga.price }} €</p>
                    </div>
                </div>
            {% else %}
                <p class="text-center text-gray-500">Aucun manga disponible.</p>
            {% endfor %}
        </div>
    </div>
</section>

<section>
<h2 class="text-xl font-semibold mt-8 mb-4 text-center">Contactez-nous</h2>

{% for flash in app.flashes('success') %}
    <div class="bg-green-100 text-green-700 px-4 py-2 rounded mb-4">
        {{ flash }}
    </div>
{% endfor %}

<div class="flex justify-center">
    <div class="w-full max-w-md bg-white p-6 rounded shadow">
        {{ form_start(contactForm) }}
            {{ form_row(contactForm.name) }}
            {{ form_row(contactForm.email) }}
            {{ form_row(contactForm.message) }}
            {{ form_row(contactForm.submit) }}
        {{ form_end(contactForm) }}
    </div>
</div>

</section>
</main>
{% endblock %}
